.slide-container {
  width: 63.5%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  // padding: 30px;
  background: white;
  right:-63.5%;
  z-index: 1000;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 1s;
  &>div {
    height: 100%;
  }
  &.active {
    right: 0%;
  }
}

.slide-close {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 100;
  &:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  }
}

.slide-info {
  padding: 40px;
}

.slide-info-block {
  padding: 20px 0px;
}

.slide-info-head {
  font-weight: bold;
}

.slide-info-line {
  padding-left: 20px;
  .slide-info__title{
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  .slide-info__data {
    font-size: 14px;
  }
}